@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}

/* Light mode */
.background {
  background-color: #c7d0b7;
}

.theme-dark {
  --background: #404536;
  --text: #a3aa95;
}

.theme-light {
  --background: #c7d0b7;
  --text: #404536;
}

.navbar {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 750px;
  margin: auto;
}

.nav-link {
  list-style-type: none;
}

.nav-link a {
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: var(--text);
  text-transform: uppercase;
}

p {
  color: var(--text);
}
